.title {
  h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #c3a962;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    color: rgba(#000, 0.5);
    font-style: italic;
  }
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px 50px;

  &_content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &_title {
  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &_card {
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(#000, 0.07);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;

    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }

  &_icon {
    display: flex;
    align-items: center;

    span {
    }
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1100px;
  padding-bottom: 40px;

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &_title {
    grid-column-start: 1;
    grid-column-end: 3;

    @media screen and (max-width: 991px) {
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }
}

.block {
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  // box-shadow: 0 0 25px rgba(#000, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 991px) {
    padding: 10px;
  }
}

.content {
  text-align: center;

  h4 {
    color: rgba(#000, 0.5);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    @media screen and (max-width: 576px) {
      font-size: 18px;
    }

    span {
      color: #c3a962;
    }
  }

  p {
    font-size: 16px;
    color: rgba(#000, 0.7);

    &.notice {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid rgba(#000, 0.2);
      border-radius: 5px;
      margin-top: 20px;
    }

    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.hotels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px 0;

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.hotel {
  padding: 10px 15px;
  border: 1px solid rgba(#c3a962, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    background: #fff;
  }

  img,
  p,
  h5,
  a {
    z-index: 2;
  }

  img {
  }

  p {
    font-size: 14px;
    color: rgba(#000, 0.8);
  }

  h5 {
    font-size: 20px;
    font-weight: 800;
  }

  a {
    color: #c3a962;
    text-decoration: underline;
  }
}

.circle {
  position: absolute;
  top: -260px;
  left: -100px;
  background: rgba(#c3a962, 0.08);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 1;
}

.plan {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 10px;

  &_content {
    width: 100%;
    max-width: 1100px;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(#000, 0.07);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 576px) {
      padding: 20px 10px;
    }
  }

  &_title,
  &_text {
    grid-column-start: 1;
    grid-column-end: 2;

    @media screen and (max-width: 991px) {
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }

  &_title {
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 16px;
      line-height: 1.5;
      // letter-spacing: 1px;
      text-align: justify;
    }
  }

  &_img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #ccc;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 991px) {
      grid-column-start: unset;
      grid-column-end: unset;
      grid-row-start: unset;
      grid-row-end: unset;
      height: 400px;
      border-radius: 10px;
    }

    @media screen and (max-width: 576px) {
      height: 250px;
    }

    @media screen and (max-width: 450px) {
      height: 200px;
    }

    img {
      object-fit: cover;
    }
  }
}

.location,
.building {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 10px;

  @media screen and (max-width: 991px) {
    padding: 30px 10px;
  }

  &_content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &_title {
    width: 100%;
    max-width: 700px;
    text-align: center;
  }

  &_images {
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      max-width: 700px;
      gap: 10px;
    }

    @media screen and (max-width: 576px) {
      max-width: 360px;
      padding: 10px;
    }
  }

  &_image {
    position: relative;
    height: 350px;

    @media screen and (max-width: 576px) {
      height: 200px;
    }

    @media screen and (max-width: 450px) {
      height: 180px;
    }

    img {
      object-fit: cover;
    }
  }

  &_beforeAfter {
    width: 100%;
  }

  &_caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    max-width: 750px;

    p {
      font-size: 16px;
      color: rgba(#000, 0.7);

      span {
        font-weight: 700;
      }
    }
  }
}

.concept {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 10px;

  @media screen and (max-width: 768px) {
    padding: 20px 10px;
  }

  &_container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 60px;
    background: #e2d5b3;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }

  &_circle {
    width: 850px;
    height: 850px;
    position: absolute;
    left: -100px;
    top: -425px;
    z-index: 1;
    background: #e6dbbf;
    border-radius: 50%;
  }

  &_content {
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(#000, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #fff;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 768px) {
      padding: 20px 10px;
    }
  }

  &_title {
    text-align: center;
    width: 100%;
    max-width: 700px;
  }

  &_text {
    max-width: 700px;
    p {
      font-size: 16px;
      text-align: center;
    }
  }
}

.designing {
  // background: #f4f0e5;
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  &_content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &_title {
    text-align: center;

    h2 {
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 16px;
      color: rgba(#000, 0.8);
    }
  }

  &_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;

    @media screen and (max-width: 900px) {
    }

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &_img {
    position: relative;
    width: 100%;

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 450px) {
    }

    @media screen and (max-width: 400px) {
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.designProject {
  width: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;

  &_content {
    width: 100%;
    max-width: 1100px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      padding: 20px 10px;
    }
  }

  &_title {
    width: 100%;
    text-align: center;
    max-width: 700px;
  }

  &_text {
    text-align: center;
  }

  &_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &_wrapper {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &_caption {
      padding: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 400px) {
        padding: 10px;
      }

      p {
        font-size: 19px;
        line-height: 1.6;
        color: rgba(#000, 0.7);

        @media screen and (max-width: 400px) {
          font-size: 16px;
        }

        span {
          font-weight: 700;
        }
      }
    }
  }

  &_images {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 30px;

    &_text {
      text-align: center;
    }

    &_items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 350px;
      gap: 10px;

      @media screen and (max-width: 991px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &_item {
      position: relative;

      @media screen and (max-width: 991px) {
        height: 400px;
      }

      @media screen and (max-width: 768px) {
        height: 300px;
      }

      @media screen and (max-width: 576px) {
        height: 200px;
      }

      img {
        object-fit: cover;
      }
    }
  }
}

.opening {
  width: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(#000, 0.07);
    border-radius: 20px;

    @media screen and (max-width: 576px) {
      padding: 20px 10px;
    }
  }

  &_title {
    text-align: center;
    max-width: 750px;
  }

  &_images {
    position: relative;
    width: 100%;
    height: 660px;

    @media screen and (max-width: 800px) {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 330px;
    box-shadow: 0 0 10px rgba(#000, 0.4);

    @media screen and (max-width: 800px) {
      position: relative;
      top: unset;
      left: unset;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      height: 230px;
    }

    img {
      object-fit: cover;
    }

    &:nth-child(2) {
      top: 70px;
      left: unset;
      right: 0;
      z-index: 2;

      @media screen and (max-width: 800px) {
        top: unset;
        right: unset;
      }
    }
    &:nth-child(3) {
      top: 300px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;

      @media screen and (max-width: 800px) {
        top: unset;
        left: unset;
        transform: translateX(0);
      }
    }
  }
}
