.intro {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  @media (max-width: 1450px) {
    // padding: 250px 120px 120px;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 35px 85px;
  }

  &_title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 20px;

    h1 {
      font-size: 44px;
      font-weight: 400;

      @media (max-width: 600px) {
        // font-size: 26px;
      }

      span {
        color: #c3a962;
      }
    }
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    svg {
      width: 30px;
      height: 30px;
      fill: #c6c6c6;

      .cls_1 {
        fill: none;
        stroke: #c6c6c6;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }
    }

    h5 {
      color: #c3a962;
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }

  &_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

    img {
      object-fit: cover;
    }
  }

  &_actions {
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

.work {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0 50px;

  .container {
    width: 100%;
    max-width: 1170px;
  }

  &_title {
    margin-bottom: 50px;
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 130px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    svg {
      width: 65px;
      height: 65px;
      fill: #c3a962;

      .cls_1 {
        fill: none;
        stroke: #c3a962;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }
    }

    h5 {
      color: #c3a962;
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }

  &_out {
    &_items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}

.team {
  width: 100%;
  max-width: 1920px;
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media (max-width: 768px) {
    padding: 120px 10px 40px;
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    &_sub {
      font-size: 16px;
      color: #c6c6c6;
      max-width: 775px;
      line-height: 1.5;

      span {
        text-transform: uppercase;

        @media (max-width: 550px) {
          // font-size: 18px;
        }
      }

      a {
        text-decoration: underline;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    :global {
      .swiper-wrapper {
        padding: 15px 0;
      }
      .swiper-slide {
        opacity: 0.2;
      }
      .swiper-slide-visible.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  &_cards {
    width: 100%;
    min-height: 680px;
    margin-bottom: 70px;
    position: relative;

    .nav {
      width: 70px;
      height: 70px;
      position: absolute;
      bottom: -70px;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #c3a962;
      font-size: 55px;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s linear;

      &_disable {
        background: #e0dfdb;
      }

      &_prev {
        left: calc(50% - 50px);
      }
      &_next {
        left: calc(50% + 50px);
      }
    }
  }

  &_slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    height: 100%;
  }

  &_card {
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    gap: 30px 40px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    &_tag {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-column-start: 1;
      grid-column-end: 4;

      span {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        color: #e0e0e0;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_img {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      overflow: hidden;
    }
    &_info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
      grid-column-start: 2;
      grid-column-end: 4;
    }

    h5 {
      color: #c3a962;
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }
}

.adventages {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 110px 0 70px;
  background: #f4f0e5;

  @media (max-width: 991px) {
    // padding: 120px 20px 60px;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &_title {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 840px;

    &_sub {
      line-height: 1.5;
      color: #a19e97;
    }
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    // box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    svg {
      width: 50px;
      height: 50px;
      fill: #c3a962;

      .cls_1 {
        fill: none;
        stroke: #c3a962;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }
    }

    h5 {
      color: #c3a962;
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }
}

.cta {
  width: 100%;
  padding: 110px 0;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    width: 100%;
    max-width: 1170px;
    background: #e2d5b3;
    border-radius: 30px;
    padding: 70px 100px 50px;
    overflow: hidden;
  }

  &_circle {
    width: 850px;
    height: 850px;
    position: absolute;
    left: -100px;
    top: -425px;
    z-index: 1;
    background: #e6dbbf;
    border-radius: 50%;
  }

  &_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
  }

  &_form {
    position: relative;
    z-index: 2;
  }
}

.clients {
  background: #f4f0e5;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  &_items {
    width: 100%;
    position: relative;

    .nav {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 140px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fff;
      font-size: 25px;
      color: #171717;
      cursor: pointer;
      transition: all 0.2s linear;

      &_disable {
        background: #e0dfdb;
      }

      &_prev {
        left: -20px;
      }
      &_next {
        right: -20px;
      }
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &_img {
    position: relative;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
  &_title {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h4 {
      font-size: 22px;
    }

    p {
      font-size: 18px;
      color: #70706a;
    }
  }
  &_actions {
  }
}

.come {
  width: 100%;
  padding: 80px 0 50px;
  background: #fafafa;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    gap: 110px;
    padding: 40px 80px 40px 40px;
    border-radius: 30px;
    background: #fff;
  }

  &_img {
    width: 500px;
    height: 460px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
  &_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &_title {
  }
  &_description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
      line-height: 1.6;
      font-size: 16px;
    }
  }
  &_actions {
  }
}

.faq {
  width: 100%;
  padding: 30px 0;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}

.callBack {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
  background: #fafafa;

  .form {
    width: 100%;
    max-width: 1170px;
  }
}
