.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  @media (max-width: 1450px) {
    // padding: 250px 120px 120px;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 35px 85px;

    @media (max-width: 991px) {
      padding: 20px 10px 0;
      gap: 25px 55px;
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }

  &_title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 20px;

    @media (max-width: 850px) {
      grid-column-start: unset;
      grid-column-end: unset;
    }

    @media (max-width: 550px) {
      padding: 0 30px;
    }

    h1 {
      font-size: 44px;
      font-weight: 400;

      @media (max-width: 991px) {
        font-size: 32px;
        text-align: center;
      }

      @media (max-width: 550px) {
        font-size: 22px;
      }

      br {
        @media (max-width: 550px) {
          display: none;
        }
      }

      span {
        color: #c3a962;
      }
    }
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    @media (max-width: 991px) {
      width: 300px;
    }

    @media (max-width: 850px) {
      width: 100%;
      align-items: center;
    }

    h5 {
      color: #c3a962;
      font-size: 22px;

      @media (max-width: 850px) {
        text-align: center;
      }
    }

    p {
      font-size: 16px;

      @media (max-width: 850px) {
        text-align: center;
      }
    }
  }

  &_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

    @media (max-width: 850px) {
      height: 250px;
    }

    @media (max-width: 550px) {
      height: 180px;
    }

    img {
      object-fit: cover;
    }
  }

  &_actions {
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;

    @media (max-width: 850px) {
      grid-column-start: unset;
      grid-column-end: unset;
      justify-content: center;
    }
  }
}

.work {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0 50px;

  @media (max-width: 991px) {
    padding: 20px 0;
  }

  .container {
    width: 100%;
    max-width: 1170px;

    @media (max-width: 1100px) {
      padding: 0 10px;
    }
  }

  &_title {
    margin-bottom: 50px;
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 130px;
    margin-bottom: 20px;

    @media (max-width: 1100px) {
      gap: 20px 70px;
    }

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 576px) {
      height: 455px;
      overflow: hidden;
    }

    &_all {
      height: auto;
      overflow: auto;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 0 20px 7px rgba(#000, 0.02);

    @media (max-width: 768px) {
      align-items: center;
    }

    h5 {
      color: #c3a962;
      font-size: 22px;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    p {
      font-size: 16px;

      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  &_out {
    &_items {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
}

.team {
  width: 100%;
  max-width: 1920px;
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media (max-width: 991px) {
    padding: 20px 0;
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    @media (max-width: 576px) {
      padding: 0 20px;
      gap: 15px;
    }

    &_sub {
      font-size: 16px;
      color: #c6c6c6;
      max-width: 775px;
      line-height: 1.5;

      @media (max-width: 576px) {
        font-size: 14px;
      }

      span {
        text-transform: uppercase;

        @media (max-width: 550px) {
          // font-size: 18px;
        }
      }

      a {
        text-decoration: underline;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &_cards {
    width: 100%;
    min-height: 680px;
    margin-bottom: 70px;
    position: relative;

    @media (max-width: 991px) {
      min-height: 300px;
      margin-bottom: 0;
    }
  }
}

.adventages {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 110px 0 70px;
  background: #f4f0e5;

  @media (max-width: 991px) {
    padding: 35px 0 30px;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;

    @media (max-width: 991px) {
      align-items: center;
      gap: 30px;
    }
  }

  &_title {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 840px;
    padding: 0 10px;

    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;
      gap: 15px;
      width: 100%;
    }

    h2 {
      @media (max-width: 991px) {
        text-align: center;
      }
    }

    &_sub {
      line-height: 1.5;
      color: #a19e97;
    }
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 576px) {
      height: 540px;
      overflow: hidden;
    }

    &_all {
      height: auto;
      overflow: auto;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;

    @media (max-width: 550px) {
      align-items: center;
    }

    h5 {
      color: #c3a962;
      font-size: 22px;

      @media (max-width: 550px) {
        text-align: center;
      }
    }

    p {
      font-size: 16px;

      @media (max-width: 550px) {
        text-align: center;
      }
    }
  }
}

.cta {
  width: 100%;
  padding: 110px 0;
  display: flex;
  justify-content: center;

  @media (max-width: 991px) {
    padding: 40px 0 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    width: 100%;
    max-width: 1170px;
    background: #e2d5b3;
    border-radius: 30px;
    padding: 70px 100px 50px;
    overflow: hidden;

    @media (max-width: 991px) {
      padding: 40px 25px 30px;
      gap: 30px;
    }

    @media (max-width: 550px) {
      padding: 40px 8px 50px;
    }
  }

  &_circle {
    width: 850px;
    height: 850px;
    position: absolute;
    left: -100px;
    top: -425px;
    z-index: 1;
    background: #e6dbbf;
    border-radius: 50%;

    @media (max-width: 550px) {
      width: 429px;
      height: 280px;
      left: -125px;
      top: -100px;
    }
  }

  &_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

    h2 {
      @media (max-width: 991px) {
        text-align: center;
      }
    }
  }

  &_form {
    position: relative;
    z-index: 2;
  }
}

.projects {
  background: #f4f0e5;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 991px) {
    padding: 45px 0;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    @media (max-width: 991px) {
      gap: 25px;
      padding: 0 30px;
    }

    @media (max-width: 550px) {
      padding: 0 10px;
    }
  }

  &_items {
    width: 100%;
    position: relative;
    padding: 0 40px;

    @media (max-width: 991px) {
      padding: 0 30px;
      margin-bottom: 30px;
    }

    @media (max-width: 550px) {
      padding: 0 10px;
    }

    .nav {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 140px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fff;
      font-size: 25px;
      color: #171717;
      cursor: pointer;
      transition: all 0.2s linear;

      @media (max-width: 550px) {
        width: 30px;
        height: 30px;
        top: 100px;
      }

      &_disable {
        background: #e0dfdb;
      }

      &_prev {
        left: 20px;

        @media (max-width: 991px) {
          left: 10px;
        }

        @media (max-width: 550px) {
          left: -5px;
        }
      }
      &_next {
        right: 20px;

        @media (max-width: 991px) {
          right: 10px;
        }

        @media (max-width: 991px) {
          right: -5px;
        }
      }
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 991px) {
      min-height: 588px;
    }

    @media (max-width: 550px) {
      gap: 15px;
      min-height: unset;
    }
  }
  &_img {
    position: relative;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;

    @media (max-width: 550px) {
      height: 200px;
    }

    img {
      object-fit: cover;
    }
  }
  &_title {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 550px) {
      gap: 15px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 22px;

      @media (max-width: 550px) {
        text-align: center;
      }
    }

    p {
      font-size: 18px;
      color: #70706a;

      @media (max-width: 550px) {
        text-align: center;
      }
    }
  }
  &_actions {
    @media (max-width: 991px) {
      margin-top: auto;
    }
  }

  .pagination {
    width: 100%;
    max-width: 300px;
    height: 20px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    :global {
      .swiper-pagination-bullet-active {
        background: #b49c5a;
      }
    }

    &_bullet {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #e7c975;

      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
}

.come {
  width: 100%;
  padding: 80px 0 50px;
  background: #fafafa;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    gap: 110px;
    padding: 40px 80px 40px 40px;
    border-radius: 30px;
    background: #fff;

    @media (max-width: 1100px) {
      gap: 50px;
      padding: 40px;
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 550px) {
      padding: 30px 25px;
    }
  }

  &_img {
    width: 500px;
    height: 460px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 991px) {
      width: 100%;
      height: 460px;
    }

    @media (max-width: 550px) {
      height: 260px;
    }

    @media (max-width: 450px) {
      height: 150px;
    }

    img {
      object-fit: cover;
    }
  }
  &_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 991px) {
      align-items: center;
      gap: 25px;
    }
  }
  &_title {
  }
  &_description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 991px) {
      text-align: center;
      gap: 15px;
    }

    p {
      line-height: 1.6;
      font-size: 16px;
    }
  }
  &_actions {
  }
}

.faq {
  width: 100%;
  padding: 30px 0;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 30px 0 0;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 0 20px;

    @media (max-width: 768px) {
      gap: 25px;
    }
  }
}

.callBack {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
  background: #fafafa;

  @media (max-width: 768px) {
    padding: 45px 0;
  }

  .form {
    width: 100%;
    max-width: 1170px;
  }
}
