.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0 50px;

  @media (max-width: 991px) {
    gap: 30px;
    padding: 20px 20px 50px;
  }

  @media (max-width: 550px) {
    padding: 20px 20px 100px;
  }
}

.text {
  max-width: 550px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.text_404 {
  font-size: 300px;
  color: #c3a962;
  text-align: center;
  line-height: 1;

  @media (max-width: 991px) {
    font-size: 240px;
  }

  @media (max-width: 550px) {
    font-size: 155px;
    transform: rotate(-90deg);
    margin-top: 60px;
  }
}
