.privacy {
  width: 100%;
  padding: 20px 40px 50px;

  @media (max-width: 700px) {
    padding: 20px 10px 30px;
  }
}

.content {
  max-width: 1000px;
  margin: 30px auto 20px;

  h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: lighten(#000, 30);
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;

    &.notice {
      font-size: 14px;
      color: lighten(#000, 50);
    }
  }

  ul,
  ol {
    li {
    }
  }

  ol {
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;

    li {
      display: block;

      &::before {
        /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
        counter-increment: li;
        /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
        content: counters(li, '.') '. ';
        margin-right: 10px;
      }
    }

    ol {
      padding-left: 15px;
    }
  }

  ul {
    padding-left: 10px;
    margin-bottom: 20px;
    li {
    }
  }

  b {
  }

  a {
  }
}
