.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 150px 0 0;
  position: relative;
  z-index: 2;

  // &_bg {
  //   background: linear-gradient(
  //     to top,
  //     rgba(#929292, 0.08),
  //     rgba(#929292, 0.02),
  //     rgba(#929292, 0.09),
  //     rgba(#929292, 0.03)
  //   );
  // }

  @media (max-height: 900px) {
    padding: 120px 0 0;
  }

  @media (max-width: 991px) {
    padding: 100px 0 0;
  }
}
