.button {
  gap: 10px;
  padding: 10px 25px;
  outline: none;
  border: 1px solid transparent;
  background: #eec89c;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(#000, 0.5);

  &:hover {
    background: lighten(#eec89c, 15);
    border-color: #eec89c;
    box-shadow: 0 0 3px 1px rgba(#000, 0.3);
  }

  &.loading {
    padding-right: 40px;
  }

  &:disabled {
    cursor: default;
    color: #585858;
    background: #dfdfdf;
    box-shadow: none;
    border: none;

    &:hover {
      color: #585858;
      background: #dfdfdf;
      box-shadow: none;
      border: none;
    }
  }

  svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: block;
    margin: auto;
    background: none;
  }
}

.prime {
}
