.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  gap: 24px;
  padding: 12px 30px;
  min-height: 70px;
  outline: none;
  border: none;
  background: #c3a962;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 10px;

  &:hover {
    background: darken(#c3a962, 10);
  }

  &.loading {
    padding-right: 40px;
  }

  &:disabled {
    cursor: default;
    color: #585858;
    background: #dfdfdf;
    box-shadow: none;
    border: none;

    &:hover {
      color: #585858;
      background: #dfdfdf;
      box-shadow: none;
      border: none;
    }
  }

  .phone_icon {
    @media (max-width: 550px) {
      display: none;
    }
  }

  svg {
    // position: absolute;
    // right: 8px;
    // top: 50%;
    // transform: translateY(-50%);
    // z-index: 2;
    // display: block;
    // margin: auto;
    // background: none;
  }
}

.prime {
}
