.accordion {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border: 1px solid rgba(#000, 0.07);

  &_button {
    background: #faf7ed;
    color: #000;

    &:hover {
      background: darken(#fff, 5);
    }
  }

  &_panel {
    padding: 2rem 3rem;

    p {
      margin-bottom: 15px;
      font-size: 18px;
      color: #000;
    }

    ol,
    ul {
      color: lighten(#000, 40);
    }

    ol {
      li {
        margin-top: 8px;

        ul {
          padding-bottom: 10px;
        }
      }
    }

    ul {
      list-style: disc;
      list-style-position: inside;

      li {
        margin-top: 5px;
      }
    }
  }
}
