.accordion {
  width: 100%;

  :global {
    .accordion {
      border: none;
    }
  }

  &_button {
    color: #171717;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    &:hover {
      background: transparent;
    }

    &::before {
      display: none;
    }

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &_icon {
    width: 50px;
    height: 50px;
    background: #c4a962;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  &_panel {
    padding: 20px 15px 20px 0;

    @media (max-width: 700px) {
      // padding: 10px;
    }

    p {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 400;
      color: #171717;
    }
  }
}
