.contacts {
  width: 100%;
  padding: 20px 60px 40px;

  @media (max-width: 768px) {
    padding: 15px 20px 40px;
  }
}

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    grid-column-start: 1;
    grid-column-end: 3;

    @media (max-width: 991px) {
      grid-column-start: unset;
      grid-column-end: unset;
    }

    ul {
      list-style: none;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    max-width: 500px;
  }
}

.map {
  width: 100%;
}
