.contacts {
  width: 100%;
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: linear-gradient(to bottom, rgba(#fff, 0), #fafafa);
}

.title {
  @media (max-width: 550px) {
    text-align: center;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1170px;
  padding: 0 10px;

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 440px;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (max-width: 991px) {
    grid-column-start: unset;
    grid-column-end: unset;
  }

  @media (max-width: 550px) {
    gap: 20px;
  }

  ul {
    list-style: none;

    li {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.map {
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 6;

  iframe {
    width: 100%;
    height: 488px;

    @media (max-width: 450px) {
      height: 200px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  width: 100%;
  max-width: 1170px;
}
