.menuBlock {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  padding: 15px 5px;
  border-radius: 5px;
  width: max-content;
  border: 1px solid rgba(#c3a962, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 15px;
  box-shadow: 0 0 10px rgba(#000, 0.06);
  cursor: default;

  @media (max-width: 991px) {
    position: unset;
    padding: 5px;
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  transition: all 0.2s linear;

  &:hover {
    background: rgba(#c3a962, 0.1);
  }

  @media (max-width: 991px) {
    font-size: 12px;
    color: lighten(#171717, 15);
    border-bottom: none;
  }
}
