.showMore {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (max-width: 576px) {
    display: flex;
  }

  span {
    color: #a3a3a3;
    text-decoration: underline;
  }
  &_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3a861;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    transform: rotate(90deg);
    line-height: 0.9;
  }

  &:hover {
    span {
      text-decoration: none;
    }
  }
}
