.wait {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 70px 20px 60px;
  background-image: url('/main_bg_4.jpg');
  background-position: center;
  background-size: cover;

  &_title {
  }

  &_content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 770px;
    width: 100%;
    padding: 20px 40px;
    background: rgba(#000, 0.7);
    border-radius: 60px 0 60px 0;
    border: 1px solid rgba(#fff, 0.4);
    box-shadow: 0 2px 7px 3px rgba(#000, 0.4);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_actions {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    p {
      font-size: 20px;
      font-style: italic;
      line-height: 1.7;
      letter-spacing: 2px;
      color: #fff;

      @media (max-width: 991px) {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}
