.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f0e5;
  margin-top: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;

  @media (max-width: 991px) {
    padding: 50px 15px;
  }

  @media (max-width: 550px) {
    padding: 24px 8px;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
    max-width: 1180px;

    @media (max-width: 1100px) {
      gap: 30px;
    }

    @media (max-width: 991px) {
      gap: 20px;
    }
  }

  &_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #171717;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      li {
        a {
          display: inline-block;
          font-size: 18px;
          color: #171717;
          font-weight: 400;
        }
      }
    }

    @media (max-width: 550px) {
      display: none;
    }
  }

  &_logo {
    max-width: 340px;

    .text {
      font-size: 16px;
      line-height: 30px;
      color: #909090;
      margin-top: 20px;
    }
  }

  &_menu {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &_address {
    max-width: 280px;

    ul {
      li {
        a {
          font-size: 25px;
          font-weight: 600;
        }
      }
    }
  }

  &_mobile {
    display: none;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px 30px;

    @media (max-width: 550px) {
      display: flex;
    }

    &_address {
      flex: 1;

      h3 {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        li {
          width: 100%;
          font-size: 12px;
          font-weight: 600;

          &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;
            font-weight: 400;
          }
        }
      }
    }
    p {
      font-size: 10px;
      color: #909090;
    }
  }

  // &_copy {
  //   padding: 15px;
  //   background: #fff;
  //   width: 100%;
  //   text-align: center;
  //   font-size: 14px;
  //   color: lighten(#000, 45);
  // }
}
