.title {
  padding: 0;
  width: 100%;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(#000, 0.4);
  text-transform: uppercase;
  $self: &;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  span {
    color: #eec89c;
  }

  &.small {
    font-size: 30px;
    text-shadow: 0px 1px 3px rgba(#000, 0.7);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}
