.title {
  padding: 0;
  width: 100%;
  color: #171717;

  span {
    color: #c3a962;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

h1.title {
  font-size: 68px;
  font-weight: 400;

  @media (max-width: 991px) {
    font-size: 48px;
  }

  @media (max-width: 550px) {
    font-size: 22px;
  }
}

h2.title {
  font-size: 44px;
  font-weight: 500;

  @media (max-width: 991px) {
    font-size: 32px;
  }

  @media (max-width: 550px) {
    font-size: 22px;
  }
}
